@import '../../less/Global';

.r-Layer{
  .clearfix;
  .transition(all 350ms cubic-bezier(0.215, 0.610, 0.355, 1.000));
  width:100%;
  position: relative;
  color: @font-color;
}

.clearfix {
	zoom: 1;
	&:before, &:after {
		content: "";
		display: table;
	}
	&:after {
		clear:both;
		}
}

.r-Layer.e-scroll-y{
    -webkit-overflow-scrolling: touch;
    overflow-y:scroll;
    overflow-x:hidden;
}

.r-Layer.e-scroll-x{
    -webkit-overflow-scrolling: touch;
    overflow-x:scroll;
    overflow-y:hidden;
}

.e-NightMode .r-Layer.light {
    color: #888;
}
