@import '../../less/Global';

.r-Grid__Row:nth-child(odd) {
  background: #F8F8F8;
}

.e-NightMode .r-Grid__Row:nth-child(odd) {
    background: #212121;
}

.r-Grid__Footer{
  margin-top:10px;
}

.r-Grid__Header > tr > th{
  text-align: left;
}

th, td {
    border-bottom: 1px solid #ccc !important;
    padding-bottom: 0.25em;
    padding-top: 0.25em;
}

th, td {
    text-align: left;
    vertical-align: top;
    padding: 10px !important;
}
table, td, th {
    vertical-align: middle;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}

.r-Grid tr,
.r-Grid th,
.r-Grid td{
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: middle;
    border-color:transparent !important;
}

tr.r-Grid__Row:hover {
    background: #F3FBFF;
    cursor: pointer;
}
