@import '../../less/Global';
//
// .r-Grid__Row.e-selected {
//   background: #F8F8F8;
// }
//
// .e-NightMode .r-Grid__Row:nth-child(odd) {
//     background: #212121;
// }

.r-Grid{
  width:100%;
  overflow: auto;
}

.r-Grid__Body{

}

.r-Grid__Row{
  position: relative;
}

.r-Grid__Footer{
  margin-top:10px;
}

.r-Grid table,
.r-Grid td,
.r-Grid th {
    vertical-align: middle;
}

.r-Grid caption,
.r-Grid th,
.r-Grid td {
    text-align: left;
    font-weight: normal;
    position: relative;
}

.r-Grid tr,
.r-Grid th,
.r-Grid td{
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: middle;
}



.r-Grid td.r-Grid__Row__Column{
  padding:@grid-cell-padding;
  color: @font-color;
  // border-bottom: @grid-border-size solid @grid-border-color !important;
  // border-right: @grid-border-size solid @grid-border-color !important;
}

.r-Grid__Header > tr > th {
  text-align: left;
  font-size: 13px;
  font-weight: bold;
  padding:@grid-cell-padding;
}

.r-Grid{
  border-top: 1px solid @default-border;
}

.e-NightMode .r-Grid__Row__Column, {
    color: #888 !important;
}



tbody.r-Grid__Body > tr:nth-child(4n+1) {
    cursor: pointer !important;
    background: #E7E7E7 !important;
}


tbody.r-Grid__Body > tr:hover {
  cursor: pointer !important;
  // background: #F5F5F5 !important;
}

tbody.r-Grid__Body > .r-Grid__Row.e-selected {
  background: #D1ECFF !important;
}

.r-Grid__Header__Sort,
.r-Grid__Row__Sort{
  font-size:60%;
  position:relative;
  top:-1px;
  cursor: pointer !important;
  color:@font-color-light;
}
