@import '../../less/Global';

.r-Wizard{
  // overflow: hidden !important;

  .r-Wizard__track{
    .transform(translateZ(0));
    width:100%;

    .r-WizardSlide{
      .transition(all 650ms cubic-bezier(0.215, 0.610, 0.355, 1.000));
      .translate(0%);
      width: 100%;
      overflow: visible;
      position: absolute;
      top: auto;
      left: auto;
      right: auto;
      bottom: auto;
      margin: auto;
      // background: @body-background;
      height: 100% !important;
    }

    .r-WizardSlide.e-dont-animate{
      transition: none !important;
    }

    .r-WizardSlide.e-selected{
      .translate(0%);
      position: relative;
      opacity: 1;
      // .transition(all 550ms cubic-bezier(0.215, 0.610, 0.355, 1.000));
    }

    .r-WizardSlide.e-backward{
      .translate(-10%);
      opacity: 0;
      top:0;
      pointer-events:none !important;
    }

    .r-WizardSlide.e-forward{
      .translate(120%);
      top:0;
      opacity: 0;
      pointer-events:none !important;
    }


    .r-WizardSlide.e-selected.e-vertical{
      .translate(0%, 0%);
      opacity: 1;
      position: relative ;
      visibility: visible;
    }

    .r-WizardSlide.e-backward.e-vertical{
      .translate(0%, -100%);
      visibility: hidden;
      height: 0;
      overflow: hidden;
    }

    .r-WizardSlide.e-forward.e-vertical{
      .translate(0%, 100%);
      visibility: hidden;
      height: 0;
      overflow: hidden;
    }
  }
}

.r-WizardSlide.e-selected{
  // box-shadow: 0 -10px 20px 15px rgba(0, 0, 0, 0.2);
  /*.box-shadow(0 3px 10px rgba(0,0,0,0.12));*/
}

.r-WizardSlide.e-vertical{
  box-shadow: none;
}

.r-Wizard.fill,
.r-Wizard.fill > .r-Wizard__track {
  height: 100%;
}

.r-Wizard.e-overflow{
    overflow:hidden !important;
}