// Media Query Settings

    @laptop:   ~"only screen and (max-width: 62.5em)";
    @tablet:    ~"only screen and (max-width: 43em)";
    @phone:   ~"only screen and (max-width: 520px)";

// Font Settings

    @font-family : 'Roboto', sans-serif;
    @font-color: #333;
    @font-color-light: #666;

// Global Settings

    @body-background : #EEEEEE;

// Default State

    @loader-color: #ccc;

    @light-background: #fff;
    @dark-background:#929292;
    @standard-border: #ccc;

// @default-border-radius

  @default-border-radius: 5px;

// Default Card

    @card-background : #fff;
    @card-padding: 10px;
    @card-radius : 0px;

// Default State

    @default-background: -webkit-linear-gradient(top,rgba(255,255,255,.85),rgba(247,247,247,.85));
    @default-border: #ccc;
    @default-color: #888;
    @default--hover-background: #DEDCDC;
    @default--hover-border: transparent;
    @default--hover-color: #777;

    @primary-background: #1995FF;
    @primary-border: transparent;
    @primary-color: white;
    @primary--hover-background: #1995FF;
    @primary--hover-border: transparent;
    @primary--hover-color: white;

    @error-background: #FF2E12;
    @error-border: transparent;
    @error-color: white;
    @error--hover-background: #8BC53F;
    @error--hover-border: transparent;
    @error--hover-color: white;

    @link-background: transparent;
    @link-border: #1995FF;
    @link-color: white;
    @link--hover-background: transparent;
    @link--hover-border: #f30;
    @link--hover-color: #007EEA;

    @selectable-default-background: #E6E6E6;
    @selectable-primary-background: #1995FF;
    @selectable-error-background: #FF592F;

    @input-background:#fff;
    @input-color:#777;
    @input-height:32px;
    @input-border-radius:0px;
