@import '../../less/Global';

.r-Align{
  display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
  height: 100%;
	align-items: center;
}

.r-Align.vertical{
  flex-direction: column !important;
}

.r-Align.vertical>.fill-height{
  padding-left:0 !important;
  padding-right:0 !important;
}

.r-Align.horizontal > .fill-height:not(:last-child){
  padding-right:0 !important;
}

.r-Align.vertical > .fill-height:not(:last-child){
  padding-bottom:0 !important;
}

.fill-height{
   flex: 1;
   height: 100%;
   width:100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.r-Align.horizontal>.fill-height:not(:first-child){
    padding-right:0 !important;
}

.r-Align.horizontal > .fill-height:first-child{
    padding-left:0 !important;
}

.r-Align.horizontal > .fill-height{
    padding-top:0 !important;
    padding-bottom:0 !important;
}

.r-Align.vertical > .fill-height:first-child{
  padding-top:0 !important;
}

.r-Align.vertical > .fill-height:last-child{
  padding-bottom:0 !important;
}