@import '../../less/Global';

.r-Table{
    width:100%;
}

.r-Table > .r-Layer > table {
    width:100%;
    border-spacing:0;
}

.r-Table > .r-Layer > table > thead{
    text-align: left;
}

.r-Table > .r-Layer > table > thead .r-Button{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600 !important;
    color: #1995ff;
}

.r-Table > .r-Layer > table > thead > tr > th,
.r-TableColumn td{
    padding:10px;
}

.r-Table>.r-Layer>table>thead>tr>th{
    padding-top:0px;
    padding-bottom:0px;
}

.r-Table td{
    font-size: 15px;
    line-height: 1.6em;
    margin: 0;
    color: #333;
    letter-spacing: .010em;
    font-weight: 400;
    // border-bottom: 1px solid #dfdfdf;
}

.r-TableColumnSelectable > td{
    position: relative;
}

.r-TableColumn{
    background:white;
    border-bottom:1px solid #ccc;
    transition: 300ms all ease-in;
}

.r-Table.e-selectable .r-TableColumn{
    cursor: pointer;
}

.r-TableColumn {
    background: #f3f3f3;
}


.r-TableColumn:hover{
    background:#f2faff;
}

.r-TableColumnSelectable > td{
    padding:0;
}

.r-TableFooter > .r-Toolbar > .r-Button{
  .transition(none) !important;
}

.r-Table.e-flex > .r-TableFooter:nth-child(1){
  display:none;
}

.r-Table.e-flex > .r-TableFooter{
  text-align:center !important;
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
}

.r-Table__DetailTd{
    padding-right: 0 !important;
}

.r-Table__DetailTd .r-Button{
    padding: 0 !important;
}