@import '../../less/Global';

.r-Avatar{
  height:60px;
  width:60px;
  border: 1px solid @standard-border;
  background-size:cover;
  vertical-align: middle;
  display: inline-block;
  margin-right:10px;
}
